body {
  margin: 0;
  padding: 1rem;
  font-size: 14px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  display: block;
}

.focus-group.focused{
  background: rgba(255,255,255,.1);
}

.box {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 1em;
  border: 1px solid black;
  background: rgba(0,0,0, .1);
}

.box.f-box{
  background: rgba(0,0,0, .3);
}

.box.focused{
  outline: 5px solid white;
}

.box:hover{
  outline: 5px dotted white;
}

.box.inline {
  display: inline-block;
}
